body{
  font-size: 90%;
}

.apps-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}


.apps-header-logo {
  /*font-family: "Playfair Display", Georgia, "Times New Roman", serif;*/
  font-size: 2.25rem;
}

.apps-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: "Playfair Display", Georgia, "Times New Roman", serif;*/
}



/**
 * Colors
 */
.bg-red-light {
  background-color: #f76773 !important;
}

.bg-red-LightCoral {
  background-color: #F08080 !important;
}

.bg-red-IndianRed {
  background-color: #CD5C5C !important;
}

.bg-red-brighter {
  background-color: #ff0c0c !important; 
}

.bg-blue-LightSkyBlue {
  background-color: #87CEFA !important;
}

.bg-orange-LightSalmon {
  background-color: #FFA07A !important;
}

.bg-orange-Orange {
  background-color: #FFA500 !important;
}

.bg-gray-LightGray {
  background-color: #D3D3D3 !important;
}
.bg-gray-Silver {
  background-color: #C0C0C0 !important;
}

.text-black {
    color: #000 !important;
}


.text-underline {
    text-decoration: underline dotted white !important;
}



/*.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
*/

/*.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}*/

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.apps-top-menu .nav-underline .active {
  font-weight: 900;
  color: var(--gray-dark);
}


.maintain-menu .nav-item a.active {
  font-weight: 900;
  color: var(--gray-dark);
}


.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}


/*
 * Footer
 */
.apps-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.apps-footer p:last-child {
  margin-bottom: 0;
}



.pagination .page-item .page-link a{
    display: block;
    padding: .5rem .75rem;
    text-decoration: none;
}
 
.pagination .page-item.active .page-link {
  padding: .5rem .75rem;
}

.pagination .page-item .page-link {
  padding: 0px;
}



.callactivity .card .card-header {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 800;
}
.callactivity .card .card-body {
   padding: 5px;
}


#searh {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}


.select_client_tbl{

  background-color: #2464D8;
  color:white;  
  font-weight: bold;
}

  #summary_report_container,#email-chart-container{
    text-align: center; 
    margin-top:  50px;    
    margin-bottom:  50px;   

  }

  #email-chart-container i{
    margin-top:100px;
  }
  #summary_report_container i,#email-chart-container i{
    text-align: center;
    font-size: 80px;
      animation: spin 2s linear infinite;

  }


/**
 * Alert Register cma_reminder_body_snip
 */
.cma_reminder_container {
    position: relative;
    padding-top: 5px; 
}

.cma_reminder_content {
  overflow-y: hidden; 
  max-height: 45px;
  margin-bottom: 10px;
}

label.cma_reminder_label {
    position: absolute;
    top: -5px;
    right: 0;
    font-weight: bold;
    /*text-shadow: 0px 1px #fff;*/
    color: #fff;
    /*background-color: #007bff;*/

    background-color: #28a745;
    border-color: #28a745;

    font-size: 10px;
    padding: 1px 2px;
    border-radius: .25rem;
}

input.cma_reminder_ch {
    display: none;
}

label.cma_reminder_label:after {
    content: "More";
    cursor: pointer;
}
input.cma_reminder_ch:checked + label.cma_reminder_label:after {
    content: "Less";
    cursor: pointer;
}
input.cma_reminder_ch:checked ~ div {
    max-height: 100%;
}


  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
